@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;

  background-color: black;
  color: white;
}

/* Navabr */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  align-items: center;
}
span {
  color: #39b5e0;
}
.nav--logo {
  font-size: 1.7rem;
  margin-left: 22px;
  font-family: "Rubik";
  font-weight: 900;
}
.logo {
  margin: auto;
}
.nav--links {
  display: flex;
}
.nav-link {
  list-style: none;
  margin-right: 50px;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-link:hover {
  transform: scale(1.05);
}
.address {
  font-size: 1.8rem;
  border-radius: 4px;
}

.cards {
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
  font-size: 1.2rem;
}

.card {
  /* padding: 6px; */
  padding-bottom: 12px;
  margin: 10px 20px;
  border: 1px solid black;
  border-radius: 6px;
  /*transition: all 250ms ease; */
}

.card__image {
  width: 90%;
  margin: auto;
}

.card__image img {
  max-width: 100%;
}

.home-attr {
  list-style: none;
  text-align: left;
}
.buyBtn {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Rubik";
  font-weight: 500;
  padding: 8px 12px;
}

.buyBtn:hover {
  transform: scale(1.05);
}

.footer {
  padding-top: 40px;
}
